body{
font-family: Arial;
max-width: 900px;
margin:auto;
padding:20px;
background:#f7f7f7;
line-height:1.6;
}

header{
text-align:center;
padding:40px 0;
}

section{
background:white;
padding:20px;
margin:20px 0;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.05);
}

h1{
margin-bottom:5px;
}

h2{
color:#333;
}
